body {background: #FFF0F5
}	

h1 {font-family: 'Raleway Dots', cursive; 
	font-size: 15vh;
	color: #1a237e;
	text-align: center;
}	

header-txt {margin-right: 10.5vh;
			margin-left: 10.5vh;
			font-family: 'Poiret One', cursive;
			font-size: 7vh;
}	 


nav{margin-right: 13.5vh;
	margin-left: 13.5vh;
	font-family: 'Poiret One', cursive;
	font-size: 7vh;
}	 

